# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@nouremara 
github
/
gitignore
Public
Code
Pull requests
344
Actions
Security
Insights
gitignore/Qt.gitignore
@Icreatedthistodeletemyaccounts
Icreatedthistodeletemyaccounts Remove trailing whitespace
Latest commit 1a84870 on Jul 11, 2021
 History
 16 contributors
@martonmiklos@KoynovStas@timsueberkrueb@davidebeatrici@abrodkin@varhub@tsteinholz@nocnokneo@Ebola16@misterion@munkhoff@jspahrsummers
54 lines (46 sloc)  623 Bytes

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc